<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wardley Maps Community</title>
    <meta http-equiv="refresh" content="0;url=https://wardley-maps-community.github.io/awesome-wardley-maps/" />
    <meta name="description" content="Wardley mapping examples and resources" />
    <link rel="icon" type="image/png" href="https://wardley-maps-community.github.io/awesome-wardley-maps/media/favicon.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@themapirati" />
    <meta name="twitter:title" content="Wardley Maps Community" />
    <meta name="twitter:description" content="Wardley mapping examples and resources" />
    <meta name="twitter:image" content="https://wardley-maps-community.github.io/awesome-wardley-maps/media/wardley-maps-awesome-list-logo.png" />
    <meta property="og:title" content="Wardley Maps Community" />
    <meta property="og:site_name" content="wardley-maps-awesome-list" />
    <meta property="og:description" content="Wardley mapping examples and resources" />
    <link rel="canonical" href="https://wardley-maps-community.github.io/awesome-wardley-maps/" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
<body>
    <div class="container-lg px-3 my-5 markdown-body">
        <div class="d-flex flex-justify-end">
            <a href="https://wardley-maps-community.github.io/awesome-wardley-maps/">Wardley Maps Awesome List</a>
        </div>
        
        {{ content }}

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>
</html>
